<div class="wrapper">
    <div class="page-header section-dark" style="background-image: url('assets/img/antoine-barres.jpg')">
        <div class="filter"></div>
        <div class="content-center">
            <div class="container">
                <div class="title-brand">
                    <h1 class="presentation-title">Homies Snowtrips</h1>
                    <div class="fog-low">
                        <img src="assets/img/fog-low.png" alt="">
                    </div>
                    <div class="fog-low right">
                        <img src="assets/img/fog-low.png" alt="">
                    </div>
                </div>

                <h2 class="presentation-subtitle text-center">Vem aproveitar a melhor neve connosco</h2>
            </div>
        </div>
        <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div>
    </div>
</div>
<div class="main">
    <div class="section text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mr-auto ml-auto">
                    <h2 class="title">Vantagens</h2>
                    <h5 class="description">Fazer as viagens em grupo é mais vantajoso, pagas o justo valor mas tem menos despesas porque partilhas a viagem e tens acesso a promoções de grupos</h5>
                    <br>
                </div>
            </div>
            <br/><br/>
            <div class="row">
                <div class="col-md-4">
                    <div class="info">
                        <div class="icon icon-danger">
                            <i class="nc-icon nc-send"></i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">Neve de qualidade aqui ao lado</h4>
                            <p>Apenas 6 horas de Coimbra e 4 do Porto os <strong>Picos da Europa</strong> têm várias estâncias com centenas de klms.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="info">
                        <div class="icon icon-danger">
                            <i class="nc-icon nc-chart-bar-32"></i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">Os valores são os finais</h4>
                            <p>Sem surpresas com valores adicionados à ultima da hora, sabes o que pagas.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="info">
                        <div class="icon icon-danger">
                            <i class="nc-icon nc-single-02"></i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">Esquiar com quem conhece</h4>
                            <p>Esquiar com pessoal que conhece as estâncias e tem formação na área.</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="section section-dark text-center">
        <div class="container">
            <h2 class="title">Vamos falar de valores</h2>
            <div class="row">

                <div class="col-md-4"></div>

                <div class="col-md-4">
                    <div class="card card-plain">
                        <div class="card-block">
                            <div class="author">
                                <h4 class="card-title">San Isidro / Fuentes de Invierno</h4>
                                <h6 class="card-category p-3">Datas: 7 a 9 de Fevereiro </h6>
                            </div>
                            <div class="card-description">

                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" value="" checked="" disabled="">
                                        Hotel Pena Pandos 60€ (quarto duplo)
                                        <span class="form-check-sign"></span>
                                    </label>
                                </div>

                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" value="" checked="" disabled="">
                                        Viagem:80€ (desde Coimbra)
                                        <span class="form-check-sign"></span>
                                    </label>
                                </div>

                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" value="" checked="" disabled="">
                                        Forfait: 50€ (San Isidro e Fuentes Inverno)
                                        <span class="form-check-sign"></span>
                                    </label>
                                </div>

                                <h6 class="card-category text-center p-3">Total por pessoa: 190€ </h6>

                                <p>Sinal de reserva (para a viagem) são 20€ que são descontados aos 80€ da viagem.</p>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4"></div>

            </div>
        </div>
    </div>

    <div class="section landing-section">

        <div class="section landing-section">

            <div class="container">
                <div class="row">
                    <div class="col-md-8 mr-auto ml-auto">
                        <h2 class="text-center">Inscreve-te agora</h2>
                        <form class="contact-form" #form="ngForm" (ngSubmit)="onSubmit(form)">
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="name">Nome</label>
                                    <div class="input-group" [class.field-error]="form.submitted && nameField.invalid && !messageSent">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="nc-icon nc-single-02"></i></span>
                                        </div>
                                        <input id="name" name="name" class="form-control" [(ngModel)]="userSettings.name"
                                               placeholder="Nome"
                                               required #nameField="ngModel">
                                    </div>

                                    <div [hidden]="!form.submitted || nameField.valid || messageSent"
                                         class="alert alert-danger">
                                         Falta o nome
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <label>Email</label>
                                    <div class="input-group"
                                         [class.field-error]="form.submitted && emailField.invalid && !messageSent">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">  <i class="nc-icon nc-email-85"></i></span>
                                        </div>
                                        <input id="email" name="email" class="form-control" [(ngModel)]="userSettings.email" type="email"
                                               pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                                               placeholder="Email"
                                               required #emailField="ngModel">
                                    </div>
                                    <div [hidden]="!form.submitted || emailField.valid  || messageSent"
                                         class="alert alert-danger">
                                         Falta o e-mail
                                    </div>
                                </div>
                            </div>

                            <label>Mensagem</label>
                            <textarea name="mensagem" class="form-control" rows="4"
                                      [(ngModel)]="userSettings.message"
                                      [class.field-error]="form.submitted && textField.invalid && !messageSent"
                                      placeholder="Envia-nos as tuas questões, dados e prometemos responder em breve"
                                      required #textField="ngModel">
                            </textarea>
                            <div [hidden]="!form.submitted || emailField.valid  || messageSent"
                                 class="alert alert-danger">
                                 Não queres escrever nada ?
                            </div>

                            <div class="row">
                                <div class="col-md-4 mr-auto ml-auto">
                                    <button class="btn btn-danger btn-lg btn-fill">Enviar Mensagem</button>
                                </div>
                            </div>

                            <div [hidden]="!postError || messageSent" class="alert alert-danger"> Erro: {{postErrorMessage}}</div>

                            <div [hidden]="!messageSent" class="alert alert-success">Mensagem enviada, obrigado.</div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
